*{
    box-sizing: border-box;
}

table{
    border-radius:  5px;
    border-collapse: unset;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);  
    text-align: center;      
}

th {
    padding: 10px;
    background-color: #24749B;
    font-size: 1.5em;
    color: whitesmoke;
}

td {
    font-size: 1.2em;
    padding: 10px;
    background-color: #24749B;
    color: whitesmoke;
}

.btn{
    cursor: pointer;
    border-radius: 5px;
    background-color: whitesmoke;
}

.new-book{
    margin: 15px;
    padding: 20px;
    background-color: #24749B;
    color: white;
    border-radius: 5px;
    box-shadow: 4px 5px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 4px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 5px 5px 0px rgba(0,0,0,0.75);
    font-family: 'my-font',serif;
}

.read{
    background-color: whitesmoke;
    color: #005CAB;
}

.update{
    background-color: whitesmoke;
    color: #005CAB;
}

.delete{
    background-color: whitesmoke;
    color: #005CAB;
}

h1{
    text-align: center;
    margin-bottom: 40px;
}

.book-details {
    background-color: #24749B;
    display:none;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 300px;
    min-height: 100%;;
    font-size: large;
    font-weight: bold;
    color:white;
}

.book-img-container img {
    height: 200px;
    width: 200px;
}

.close-modal{
    float:right;
}

.details{
    padding: 15px;
    text-align: center;
}

.bookshop{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.create-book-modal,.update-book-modal{
    display:none;
    position: fixed;
    width: 400px;
    height: 350px;
    background-color: #24749B;
    padding: 50px;
    text-align: center;
    right: 0;
    top:0;
    color: white;
    border-radius: 5px;
}

.close-add-book, .close-update-book{
    position: absolute;
    float:right;
    top:0px;
    right:0px;
}

.lang{
    margin: 10px;
    padding: 8px;
    font-family: 'my-font';
    background-color: #24749B;
    color:white;
}

h5{
    margin-top: 0;
    margin-bottom: 0;
}

.rtl{
    direction: rtl;
}

.welcome{
    background-color: #AB5063;
    width: 100vw;
    height: 200px;
}

.bckPic{
    filter: brightness(0.3);
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -1; 
}

/* body > img{
    filter: brightness(0.4);
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -1; 
} */


h1{
    color: white;
}

body{
    margin: 0;
    font-family: 'my-font',serif;
}


@font-face {
  font-family: my-font;
  src: url(../font/Rubik-Light.ttf);
}

.pages-list{
    margin-top: 20px;
    display:flex;
    justify-content: center;
}

.title-col, .price-col{
    cursor: pointer;
}





